#aboutme {
    text-align: center;
}

.about-me-section-description{
    text-decoration: justify;
    margin-top: 40px;
}

.aboutme-icons{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.aboutme-icons{
    margin: 10px;
    color: var(--titlesectionprimarycolour);
}
.aboutme-icons:hover{
    cursor: pointer;
    color: var(--titlesectionsecondarycolour);

}
.aboutme-icons a {
    text-decoration: none;
    color: inherit;
}
.about-me-download-link > a {
    color: var(--titlesectionsecondarycolour);
}
